.icons {
   background: #FFD700;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   position: fixed;
   bottom: 2rem;
   width: 100%;
   left: 0;
}

.icon {
    position: relative;
    margin-right: 1rem;
    height: 2.5rem;
}